[submodule "externals/glfw"]
	path = externals/glfw
	url = https://github.com/glfw/glfw.git
[submodule "externals/glm"]
	path = externals/glm
	url = https://github.com/g-truc/glm.git
[submodule "externals/glew-cmake"]
	path = externals/glew-cmake
	url = https://github.com/JALB91/glew-cmake.git
[submodule "externals/tinyxml"]
	path = externals/tinyxml
	url = https://github.com/JALB91/tinyxml2.git
[submodule "externals/imgui/imgui"]
	path = externals/imgui/imgui
	url = https://github.com/JALB91/imgui.git
[submodule "externals/SPIRV-Cross"]
	path = externals/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "externals/assimp"]
	path = externals/assimp
	url = https://github.com/assimp/assimp.git
[submodule "externals/tracy"]
	path = externals/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "externals/json"]
	path = externals/json
	url = https://github.com/nlohmann/json.git
[submodule "externals/magic_enum"]
	path = externals/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "externals/refl-cpp"]
	path = externals/refl-cpp
	url = https://github.com/veselink1/refl-cpp.git
[submodule "externals/xxHash/xxHash"]
	path = externals/xxHash/xxHash
	url = https://github.com/Cyan4973/xxHash.git
